doctype html
head
  title Error
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='icon', type='image/png', href='favicon.png')
  style
    include ../public/error.css
body
  h1 Error
  main
    block content
  
  footer
    a(href='https://github.com/typicode/hotel') readme
