<!DOCTYPE html>
<html>
  <head>
    <title>hotel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="vendors/ionicons/css/ionicons.css">
    <link rel="icon" type="image/png" href="favicon.png">
    <style>
      <%- include('../public/style.css') -%>
    </style>
  </head>
  <body>
