doctype html
head
  title hotel
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='icon', type='image/png', href='favicon.png')
  link(rel='stylesheet', type='text/css', href='vendors/ionicons/css/ionicons.css')
  link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
  link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Grand+Hotel')
  link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Open+Sans')
  link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro')
  link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Roboto')
  link(rel='stylesheet', type='text/css', href='css/style.css')
body
  #appvue
  #root
  script(src='bundle.js')
