.
  // Proxy only *.#{conf.tld} requests to hotel
  // Configuration file can be found in ~/.hotel
  function FindProxyForURL (url, host) {
    if (dnsDomainIs(host, '.#{conf.tld}')) {
      return 'PROXY #{hostname}:#{conf.port}';
    }

    return 'DIRECT';
  }
