@import "../../../node_modules/bulma/bulma";
@import "../../../node_modules/bulma-switch/switch";

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 769px) {
    @content;
  }
}

pre, code {
  background: #F9F9F9;
}

main {
  background: #F9F9F9;
  color: #212121;
  pre {
    font-family: $monospace-font;
    margin: 0;
    background: transparent;
    white-space: normal;
    color: inherit;
    flex: 1;
    flex-direction: column;

    @include mobile {
      font-size: 0.8rem;
    }
  }
  overflow-y: scroll;

  @include mobile {
    padding-top: 5.25rem; // 2rem padding + 2.25rem button + 1rem top margin
    position: absolute;
    left: 0;
    width: 100%;
  }
}

.blank-slate {
  font-family: $base-font;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150%;
  color: #999;
  flex: 1;
}

nav {
  display: flex;
  @include mobile {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  @include desktop {
    margin: -1rem;
    margin-bottom: 0;
  }

  padding: 1rem;

  background: #fcfcfc;
  border-bottom: 1px solid #ddd;

  .is-dark & {
    background: #333;
    border-bottom: 1px solid #444;
  }

  button:not(:first-child) {
    margin-left: 1rem;
  }

  .spacer {
    flex: 1;
  }

  .name {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 125%;
  }
}

.dark {
  background: #212121;
  color: #F9F9F9;
  transition: background 0.2s, color 0.2s;
}

/*ANIMATE ASIDE ITEMS*/
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 0.2s;
  animation-fill-mode: both;
}
