@import "../../../node_modules/bulma/bulma";
@import "../../../node_modules/bulma-switch/switch";

$base-font: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
$monospace-font: "Courier New", Courier, monospace;

$padding: 1rem;
$inner-padding: $padding / 2;

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 769px) {
    @content;
  }
}

body {
  font-family: $base-font;
  color: #212121;
  padding: 0;
  margin: 0;
}

#app {
  display: flex;
}

aside, main {
  padding: $padding;
  height: 100vh;
}

aside {
  @include desktop {
    min-width: 365px;
    border-right: 1px solid #F0F0F0;
  }
  @include mobile {
    width: 100vw;
  }
  display: flex !important;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  overflow-y: auto;

  .hotel-menu {
    flex: 1;

    overflow-y: auto;

    .level {
      padding: $inner-padding;
    }
  }
}

code {
  padding: 10px;
  display: inline-block;
}

pre, code {
  background: #F9F9F9;
}

main {
  position: relative; /* needed for #down */
  flex-grow: 1;
  background: #F9F9F9;
  color: #212121;
  pre {
    font-family: $monospace-font;
    margin: 0;
    background: transparent;
    white-space: normal;
    color: inherit;
    flex: 1;
    flex-direction: column;

    @include mobile {
      font-size: 0.8rem;
    }
  }
  overflow-y: scroll;

  @include mobile {
    padding-top: 2rem /* padding */ + 2.25rem /* button */ + $padding /* top margin */;
    position: absolute;
    left: 0;
    width: 100%;
  }
}

.blank-slate {
  font-family: $base-font;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150%;
  color: #999;
  flex: 1;
}

nav {
  display: flex;
  @include mobile {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  @include desktop {
    margin: -$padding;
    margin-bottom: 0;
  }

  padding: $padding;

  background: #fcfcfc;
  border-bottom: 1px solid #ddd;

  .is-dark & {
    background: #333;
    border-bottom: 1px solid #444;
  }

  button:not(:first-child) {
    margin-left: $padding;
  }

  .name {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 125%;
  }
}

.dark {
  background: #212121;
  color: #F9F9F9;
  transition: background 0.2s, color 0.2s;
}
.flex-spacer {
  flex: 1;
}

footer {
  padding: 0 $inner-padding;
  padding-top: $padding;
  display: flex;
  justify-content: space-between;
  a {
    &:hover {
      text-decoration: none;
    }
    @include mobile {
      .version {
        vertical-align: baseline;
        color: gray;

        &::before { content: '(' }
        &::after { content: ')' }
      }
    }
    @include desktop {
      &:not(:hover) .version {
        visibility: hidden;
      }
    }
  }
}

/* Make it easier to click */
button.status.running {
  color: #14B8CC;
}

button.logs.selected {
  color: #212121;
}

button.logs {
  margin-right: 0 !important;
}

/*ANIMATE ASIDE ITEMS*/
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 0.2s;
  animation-fill-mode: both;
}
