$base-font: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
$monospace-font: "Courier New", Courier, monospace;
body {
  font-family: $base-font;
  color: #212121;
  padding: 0;
  margin: 0;
}

#app {
  display: flex;
}

aside, main {
  padding: 1rem;
  height: 100vh;
}

aside {
  min-width: 365px;
  display: flex !important;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  overflow-y: auto;
  border-right: 1px solid #F0F0F0;
}

.hotel-menu {
  flex: 1;

  .monitor {
    padding: 0.5rem;
  }
}

code {
  padding: 10px;
  display: inline-block;
}

pre, code {
  background: #F9F9F9;
}

main {
  position: relative; /* needed for #down */
  flex-grow: 1;
  background: #F9F9F9;
  color: #212121;
  pre {
    font-family: $monospace-font;
    margin: 0;
    background: transparent;
    white-space: normal;
    color: inherit;
    flex: 1;
    flex-direction: column;
  }
  overflow-y: scroll;
}


nav {
  display: flex;
  margin: -1rem;
  margin-bottom: 0;

  padding: 1rem;

  background: #fcfcfc;
  border-bottom: 1px solid #ddd;

  .is-dark & {
    background: #333;
    border-bottom: 1px solid #444;
  }

  button:not(:first-child) {
    margin-left: 1rem;
  }

  .spacer {
    flex: 1;
  }

  .name {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 125%;
  }
}

.dark {
  background: #212121;
  color: #F9F9F9;
  transition: background 0.2s, color 0.2s;
}

footer {
  padding: 0.5rem;
  a {
    &:hover {
      text-decoration: none;
    }
    &:not(:hover) .version {
      visibility: hidden;
    }
  }
}

/* Make it easier to click */
button.status.running {
  color: #14B8CC;
}

button.logs.selected {
  color: #212121;
}

button.logs {
  margin-right: 0 !important;
}

/*ANIMATE ASIDE ITEMS*/
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 0.2s;
  animation-fill-mode: both;
}
