/* Available status: running, stopping, stopped, crashed, sleeping */
[v-cloak] {
  display: none;
}

body {
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  font-size: 18px;
  padding: 10px;
  color: #34495e;
}

a {
  text-decoration: none;
  outline: 0;
  color: inherit;
  cursor: pointer;
}

a:hover, a:focus {
  color: #2c3e50 !important;
}

code {
  font-family: monospace;
  font-size: 14px;
  background: #F9F9F9;
  padding: 4px;
}

table {
  width: 100%;
  max-width: 320px;
  border-collapse: collapse;
}

tr {
  border: solid #EEE;
  border-width: 1px 0 1px 0;
  vertical-align: middle;
  height: 40px;
}

td.actions {
  width: 30px;
  text-align: right;
  font-size: 18px;
}

td.actions .fa {
  font-size: 20px;
}

.status {
  font-size: 12px;
}

tr.stopped, tr.crashed {
  color: #bdc3c7;
}

tr.running td.actions a {
  color: #2ecc71 !important;
}

tr.running td.actions a:hover {
  color: #27ae60 !important;
}

.empty a {
  text-decoration: underline;
}

footer {
  color: #bdc3c7;
}

footer a span {
  visibility: hidden;
  font-size: 14px;
}

footer a:hover span {
  visibility: visible;
}

/* Sticky footer */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 28px; /* bottom = footer height */
}

footer {
  position: absolute;
  bottom: 0;
  width: 320px;
}
