/* Available status: running, stopping, stopped, crashed, sleeping */
[v-cloak] {
  display: none;
}

html, button {
  font-family: sans-serif;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  padding: 20px;
  color: #2c3e50;
}

a {
  text-decoration: none;
  outline: 0;
  color: #2c3e50;
}

a:hover, a:focus {
  color: #34495e !important;
}

code {
  font-size: 14px;
  background: #EEE;
  padding: 4px;
}

.monitor {
  width: 320px;
  margin: 0;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #EEE;
}

.monitor.running a {
  color: #27ae60;
}

.monitor:last-of-type {
  border: none;
}

.status {
  color: #95a5a6;
}

.details, .actions {
  display: inline-block;
}

.details {
  width: 220px;
}

.actions {
  width: 95px;
}

.actions {
  text-align: right;
}

/* Start-stop buttons */
.start, .stop {
  cursor: pointer;
  text-align: right;
  border: 0;
  padding: 0;
  outline: 0;
  background: transparent;
  font-size: 1em;
}

.start:hover,
.stop:hover{
  color: #7f8c8d;
}

footer a span {
  visibility: hidden;
  font-size: 14px;
}

footer a:hover span {
  visibility: visible;
}

/* Sticky footer */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 28px; /* bottom = footer height */
}

footer {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 320px;
}
