body {
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  color: #212121;
  padding: 0;
  margin: 0;
}

#app {
  display: flex;
}

aside, main {
  height: 100vh;
}

aside {
  min-width: 365px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

pre {
  padding: 10px;
}

pre, code {
  background: #F9F9F9;
}

main {
  position: relative; /* needed for #down */
  flex-grow: 1;
  background: #F9F9F9;
  color: #212121;
  font-family: "Courier New", Courier, monospace;
  overflow-y: scroll;
}

#down {
  position: absolute;
  right: 30px;
  top: 20px;
  cursor: pointer;
}

#theme {
  position: absolute;
  right: 50px;
  top: 20px;
  cursor: pointer;
}

.dark {
  background: #212121;
  color: #F9F9F9;
  transition: background 0.2s, color 0.2s;
}

/* Used to avoid setting padding on aside and main (breaks layout) */
ul, footer, .container {
  padding: 20px;
}

footer a:hover {
  text-decoration: none;
}

footer a .version {
  visibility: hidden;
}

footer a:hover .version {
  visibility: visible
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
}

li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #F0F0F0;
  height: 64px;
}

li div {
  flex-grow: 1;
}

li small {
  color: #CECECE;
  cursor: pointer;
}

button {
  border: none;
  background: none;
  outline:none;
  cursor: pointer;
  color: #CECECE;
}

/* Make it easier to click */
aside button {
  height: 100%;
}

button.status {
  padding-top: 5px;
  font-size: 29px;
}

button.status.running {
  color: #14B8CC;
}

button.logs {
  font-size: 14px;
}

button.logs.selected {
  color: #212121;
}

/*ANIMATE ASIDE ITEMS*/
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 0.2s;
  animation-fill-mode: both;
}
